{% extends "base/base.html" %}
{% block title %}Tags{% endblock %}

{% block content %}
<article>
  <div id="article_text">
    <ul>
        {% for category, articles in categories %}
            <li class="category-{{ category }}">{{ category | replace(' ', '-') | lower }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for tag, articles in tags %}
            <li class="tag-{{ tag }}">{{ tag | replace(' ', '-') | lower}}</li>
        {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
