
<!--Add SEO pagemap-->
<!-- https://developers.google.com/custom-search/docs/structured_data?hl=es&csw=1#microformats -->

<!--
<PageMap>
<DataObject type="document">
    <Attribute name="title">{{article.title|striptags}}</Attribute>
    <Attribute name="author">{{ article.author }}</Attribute>
    <Attribute name="last_update">{{ article.date.isoformat() }}</Attribute>
</DataObject>

<DataObject type="metatags">
    <Attribute name="category" value="Technology"/>
      {% for tag in article.tags %}
       <Attribute name="category" value="{{  tag }}"/>
      {% endfor %}
</DataObject>
</PageMap>
-->

